@charset "utf-8";

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
}

button {
  display: block;
}


img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #333;
}

// 새롭게 발견한 것
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  min-width: 0;
}


.hidden {
  display: none;
}

.offscreen {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}