@charset "utf-8";

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
}

button {
  border: 0;
  background: transparent;
}

img {
  vertical-align: middles;
}

a {
  text-decoration: none;
  color: #333;
}

.offscreen {
  width: 0;
  height: 0;
  position: absolute;
  overflow: hidden;
}
