<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="kakao_friends_shop" />
    <meta name="Description" content="cloning webpage for portfolio" />
    <meta name="author" content="rohkorea86" />
    <meta name="Robots" content="noindex,nofollow" />

    <link rel="stylesheet" href="../../../assets/style/css/login.css" />
    <link rel="icon" href="../../../public/kakao_favicon.ico" />
    <title>카카오 프렌즈샵</title>
  </head>

  <body>
    <h1>여기는 로그인</h1>
    <p>s</p>
    <p>로그인이 나올 공간</p>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../../../assets/src/login/login.js"></script>
  </body>
</html>
